# Node
node_modules/
frontend/node_modules/

# Virtual environments
.venv/


# Large datasets / models
*.pkl
*.npy
*.pt
*.h5
*.ckpt

# Python
__pycache__/
*.pyc

# Next.js
.next/
frontend/.next/
out/
build/
dist/
.DS_Store
*.log